:root {
    /* Colors */
    --mc-body-color: #c8cdd1;
    --mc-secondary-color: rgba(182, 186, 190, 0.75);
    
    --mc-primary: #007AFF;
    --mc-primary-bg: #002c6d;

    --mc-success: #1e9600;
    --mc-success-bg: #082700;

    --mc-danger: #e61f33;
    --mc-danger-bg: #44080e;

    --mc-warning: #ffc400;
    --mc-warning-bg: #493800;

    --mc-info: rgb(85, 189, 221);
    --mc-info-bg: rgb(13, 56, 70);

    --mc-light: #ffffff;
    --mc-light-bg: #414141;

    --mc-dark: #262626;
    --mc-dark-bg: #111111;

    --mc-red: #ff0000;
    --mc-green: #00ff00;
    --mc-blue: #0000ff;
    --mc-yellow: #ffff00;
    --mc-orange: #ffa500;
    --mc-purple: #800080;
    --mc-pink: #ffc0cb;
    --mc-brown: #8b4513;
    --mc-gray: #808080;
    --mc-black: #000000;
    --mc-white: #ffffff;

    --mc-selection: rgba(37, 137, 231, 0.466);
    --mc-white-blur:#70707017;

    /* Glass */
    --mc-glass:  blur(26px) saturate(26px);
    
    /* Container */
    --mc-container-sm: 586px;
    --mc-container-md: 778px;
    --mc-container-lg: 995px;
    --mc-container-xl: 1210px;
    --mc-container-xxl: 1405px;

    /* Margin */
    --mc-margin-1: 4px;
    --mc-margin-2: 8px;
    --mc-margin-3: 12px;
    --mc-margin-4: 16px;
    --mc-margin-5: 20px;
    --mc-margin-6: 24px;
    --mc-margin-7: 32px;
    --mc-margin-8: 40px;

    /* Padding */
    --mc-padding-1: 4px;
    --mc-padding-2: 8px;
    --mc-padding-3: 12px;
    --mc-padding-4: 16px;
    --mc-padding-5: 20px;
    --mc-padding-6: 24px;
    --mc-padding-7: 32px;
    --mc-padding-8: 40px;

    /* Border Radius */
    --mc-radius-1: 4px;
    --mc-radius-2: 8px;
    --mc-radius-3: 12px;
    --mc-radius-4: 16px;
    --mc-radius-5: 20px;

    /* Font Size */
    --mc-font-xs: 12px;
    --mc-font-sm: 14px;
    --mc-font-md: 16px;
    --mc-font-lg: 20px;
    --mc-font-xl: 24px;
    --mc-font-xxl: 32px;

    


}
::selection{
    background-color: var(--mc-selection);
    color: var(--mc-light);
}

/* Kaydırma çubuğunun özelleştirilmesi */
::-webkit-scrollbar {
    width: 3px; /* Scrollbar genişliği */
  }
  
  ::-webkit-scrollbar-track {
    background: var(--mc-body-color) ; /* Kaydırma çubuğunun arka planı */
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--mc-dark); /* Kaydırma çubuğunun rengi */
    border-radius: 6px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--mc-dark-bg) ; /* Hover durumunda renk değişimi */
  }